body{
    margin: 0;

    background-image: url(Images/dram.jpg);
    background-size: cover;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.both{
    display: flex;
    margin-left: 190px;
   
}
.live-right{
    margin-top: 10px;
    font-size: 30px;
    line-height: 30px;
    h1{
        color: rgb(224, 23, 23);
        margin-left: 200px;
    }
    p{
        margin-left: 200px;
        margin-top: 180px;
        color: white;
    }
   
}
#live-logo{
    width: 250px;
    margin-left: 140px;
    margin-top: 70px;
}
.live-images{
margin-left: 20%;
text-decoration: none;
overflow: auto;
height: 980px;
a{
    text-decoration: none;
}
h2{
    color: white;
}

}
#first-image {
    width: 400px;
    height: 360px;
    border-radius: 30px;
    margin-bottom: 40px;
}
#second-image{
    width: 400px;
    height: 360px;
    border-radius: 30px;
    margin-bottom: 40px;
}
#third-image{
    width: 400px;
    height: 360px;
    border-radius: 30px;
    margin-bottom: 40px;
}
.first{
    
    display: flex;
    p{
        color: rgb(221, 19, 19);
       
    }
}
.second{
    display: flex;
    p{
        color: rgb(221, 19, 19);
    }
}
.third{
    display: flex;
    p{
        color: rgb(221, 19, 19);
    }
}
.text-one{
margin-top: 150px;
margin-left: 40px;
font-size: 20px;
}
.text-second{
    margin-top: 150px;
    margin-left: 40px;
    font-size: 20px;
}
.text-third{
    margin-top: 150px;
    margin-left: 40px;
    font-size: 20px;
}
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    margin-bottom: 55px;
    margin-left: 30px;
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 40%;
    padding-left: 80px;
   
   
    }
    
    #menu-bar{
      margin-left: -50%;
    }
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  
    }
   
    .navbar a:hover{
      background: transparent;
      background:rgb(48, 45, 45);
      border-radius: 30px;
    }
    
    .navbar a.active {
      background-color: #04AA6D;
      color: white;
    }
    #reserve {
      background-color: rgb(117, 113, 113);
      border-radius: 30px;
      padding: 20px 20px 20px 20px; 
    }
    
    #reserve a:hover{
      background-color: black;
    }
   
  #whatsapp {
    position:absolute;
    background-color: rgb(15, 14, 14);
    border-radius: 80px;
    padding: 30px;
    margin-top: 400px;
    margin-left: 135%;
    bottom: 4%;
    right: 3%;
  }