body {
  overflow: hidden;
}


.front-page {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.social-media {
  width: 5%;
  display: flex;
  margin-left: 90%;
  right: 1%;
  top: 4%;
  gap: 20%;
  z-index: 10;
  position: absolute;

  a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
  }
}

#media {
  font-size: 13px;
  padding: 10px;
  display: flex;
  color: gray;
  border: 1px solid gray;
  border-radius: 50%;


}

.head {
  background-position: center;
  opacity: 0;
  text-align: center;
  font-size: 65px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: slideshow 15s infinite;
  color: gray;
  /* padding-top: 2%; */
}


.welcome {
  background-image: url(Images/anokle\ second-home1.jpg);
  animation-delay: 0s;

}

.discover {
  background-image: url(Images/home\ anokle\ light2.jpg);
  animation-delay: 3s;

}


.exprience {
  background-image: url(Images/anokle\ steak3.jpg);
  animation-delay: 6s;

}


.taste {
  background-image: url(Images/anokle\ drink4.jpg);
  animation-delay: 9s;

}


.savor {
  background-image: url(Images/anokle\ ingredient5.jpg);
  animation-delay: 12s;

}


@keyframes slideshow {


  0%,
  100% {
    opacity: 0;
  }


  20%,
  40% {
    opacity: 1;
  }


  60%,
  100% {
    opacity: 1;
  }
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 40px;
  margin-bottom: 55px;
  margin-left: 480px;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 39%;
  padding-left: 20px;


}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.navbar a:hover {
  background: transparent;
  background: rgb(48, 45, 45);
  border-radius: 30px;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

#reserve {
  background-color: rgb(117, 113, 113);
  border-radius: 30px;
  padding: 20px 20px 20px 20px;
}

#reserve a:hover {
  background-color: black;
}

#whatsapp {
  position: relative;
  left: 50%;
  background-color: black;
  border-radius: 80px;
  padding: 30px;
  margin-top: 800px;
  margin-left: 750px;

}


@media only screen and (max-width:430px) {


  .home {
    img {
      width: 190px;
      margin-top: 150px;
    }
  }



  .social-media {
    a {
      margin-left: -40px;
      flex-direction: column;
    }
  }

  .welcome {
    font-size: 30px;
  }

  .discover {
    font-size: 30px;
  }

  .exprience {
    font-size: 30px;
  }

  .taste {
    font-size: 30px;
  }

  .savor {
    font-size: 30px;
  }

 
  .navbar {
    border-radius: 20px;
    bottom: 60px;
    margin-left: 5%;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    position: fixed;
  }
  .navbar a {
    padding: 8px 10px;
    font-size: 12px;
  }
  #reserve {
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
  }
  #whatsapp {
    font-size: 24px;
    padding: 15px;
    position: fixed;
    border-radius: 50px;
    margin-top: 0;
    margin-left: 0;
    bottom: 20%;
    right: 5%;
}
}

@media only screen and (min-width:769px) and (max-width:1024px){
  
}